gymnasium==0.28.1
gymnasium[classic-control]==0.28.1
gymnasium[box2d]==0.28.1
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
-f https://download.pytorch.org/whl/torch_stable.html
tensorboard==2.13.0
matplotlib==3.7.2
numpy==1.24.2
collections-extended==1.0.4
pygame==2.3.0
